<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
	<div class="card mb-3">
		<div class="card-header">
			<h3>
					<i class="fa fa-users"></i>
					{% if salaries.count == 0 or salaries.count == 1 %}{{ salaries.count -1 }} {% trans %}Employee{% endtrans %}{% else %}{{ salaries.count -1 }} {% trans %}Employees{% endtrans %}{% endif %} {% trans %}in the business{% endtrans %}
					<a href="{{ path('cli_salaries_ajouter') }}" style="float:right" class="btn btn-primary btn-xs">{% trans %}Add a new Employee{% endtrans %}</a>
			</h3>

		</div>

		<div class="card-body">
				<table id="table_id" class="display table table-striped">
						<thead>
								<tr>
										<th>{% trans %}Id{% endtrans %}</th>
										<th>{% trans %}Civility{% endtrans %}</th>
										<th>{% trans %}Firstname{% endtrans %}</th>
										<th>{% trans %}Lastname{% endtrans %}</th>
										<th>{% trans %}Phone number{% endtrans %}</th>
										<th>{% trans %}Structure{% endtrans %}</th>
										<th>{% trans %}Job{% endtrans %}</th>
										<th>{% trans %}Professional email{% endtrans %}</th>
										<th>{% trans %}Date of birth{% endtrans %}</th>
										<th>{% trans %}Place of birth{% endtrans %}</th>
										<th>{% trans %}Address{% endtrans %}</th>
										<th>{% trans %}Address (continued){% endtrans %}</th>
										<th>{% trans %}City{% endtrans %}</th>
										<th>{% trans %}Postal code{% endtrans %}</th>
										<th>{% trans %}Social security number{% endtrans %}</th>
										<th>{% trans %}Profile{% endtrans %}</th>
								</tr>
						</thead>
						<tbody>
								{% for salarie in salaries if salarie.client.id != salarie.id %}
								<tr>
										<td>{{ salarie.profil.informationsPersonnelles.identifiant }}</td>
										<td>{{ salarie.profil.informationsPersonnelles.civilite }}</td>
										<td>{{ salarie.profil.informationsPersonnelles.firstname }}</td>
										<td>{{ salarie.profil.informationsPersonnelles.lastname|upper }}</td>
										<td>{% if salarie.profil.coordonnees %}{{ salarie.profil.coordonnees.phone }}{% endif %}</td>
										<td>{% if salarie.profil.emploi %}{{ salarie.profil.emploi.structure }}{% endif %}</td>
										<td>{% if salarie.profil.emploi %}{{ salarie.profil.emploi.job }}{% endif %}</td>
										<td>{{ salarie.email }}</td>
										<td>{{ salarie.profil.informationsPersonnelles.dob|date('d-m-Y') }}</td>
										<td>{{ salarie.profil.informationsPersonnelles.birthplace }}</td>
										<td>
												{% if salarie.profil.coordonnees %}
														{{ salarie.profil.coordonnees.address }}
												{% endif %}
										</td>
										<td>
												{% if salarie.profil.coordonnees %}
														{{ salarie.profil.coordonnees.addressContinued }}
												{% endif %}
										</td>
										<td>
												{% if salarie.profil.coordonnees %}
														{{ salarie.profil.coordonnees.city }}
												{% endif %}
										</td>
										<td>
												{% if salarie.profil.coordonnees %}
														{{ salarie.profil.coordonnees.postalcode }}
												{% endif %}
										</td>
										<td>{{ salarie.profil.informationsPersonnelles.ssn }}</td>
										<td>
												<a href="{{ path('cli_salaries_profil_informations_personnelles', {'id':salarie.id}) }}" class="btn btn-primary btn-xs">{% trans %}See{% endtrans %}</a>
										</td>
								</tr>
								{% endfor %}
						</tbody>
				</table>

		</div>
	</div><!-- end card-->
</div>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sc-2.0.1/sp-1.0.1/sl-1.3.1/datatables.min.css"/>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sc-2.0.1/sp-1.0.1/sl-1.3.1/datatables.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#table_id').DataTable( {
        colReorder: true,
				dom: 'Bfrtip',

				buttons: [
						{
								extend: 'copy',
								text: '{% trans %}Copy to clipboard{% endtrans %}',
								exportOptions: {
										columns: ':visible'
								}
						},
						{
								extend: 'excel',
								exportOptions: {
										columns: ':visible'
								}
						},
						{
								extend: 'csv',
								exportOptions: {
										columns: ':visible'
								}
						},
						{
								extend: 'pdf',
								exportOptions: {
										columns: ':visible'
								}
						},
						{
								extend: 'print',
								text: '{% trans %}Print{% endtrans %}',
								exportOptions: {
										columns: ':visible'
								}
						},
						{
                extend: 'columnsToggle',
            }
				],
				{% if app.request.locale == 'en' %}
				{% else %}
		        "language": {
            		"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json",
								buttons: {
										copyTitle: 'Copier dans le clipboard',
										copySuccess: {
												_: '%d lignes ont été copié',
												1: '1 ligne copié'
										}
								}
		        }
				{% endif %}
    } );
});
</script>
