{{ form_start(form) }}
{{ form_errors(form) }}
    <table class="table table-bordered">
        <tr>
            <th class="table-bg">Rôle</th>
        </tr>

        <tr>
            <td>
                {{ form_widget(form.roles, {'attr':{'class':'form-control'}}) }}
                {{ form_errors(form.roles) }}
            </td>
        </tr>
    </table>

    <a href="#" onclick="window.history.go(-1); return false;" class="btn btn-primary align-center btn-bottom">Retour</a>
    <input type="submit" class="btn btn-primary btn-bottom" value="Enregistrer" />
{{ form_end(form) }}
